uploads/*
public/characters/*
public/characters/
public/chats/*
public/chats/
public/characters/*.*
public/characters/Darkness.png
uploads/*.*
uploads/*
uploads/
node_modules/*
public/backgrounds/507cf7548e015c2bbdbe0b211999022b.png
public/characters BAK 11-02-2023/*